doctype
html(lang="en")
  head
    title #{title} - My Site
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
  body
    include includes/nav
    block content
  script(src="/bower_components/jquery/dist/jquery.js")
  script(src="/javascripts/main.js")
