doctype
html(lang="en")
  head
    title #{title} - Login
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
  body
    block content
  script(src="/bower_components/jquery/dist/jquery.js")
  script(src="/javascripts/main.js")
