extend layout
block content
  ul.list-group
    each s in summaries
      if s.summary
        li.list-group-item
          h3.date
            =moment(s.date).format('LL')
            each activity in s.summary
              h4.activity #{activity.activity.capitalize()}
              p.minutes #{activity.durationMinutes} minutes
              p.distance #{activity.distanceMiles} miles
              if activity.calories
                p.calories #{activity.calories} calories

